# In this File We will Cover-

- **PySpark Dataframe** 
- **Reading The Dataset**
- **Checking the Datatypes of the Column(Schema)**
- **Selecting Columns And Indexing**
- **Check Describe option similar to Pandas**
- **Adding Columns**
- **Dropping columns**
- **Renaming Columns**

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('DataFrame').getOrCreate()

In [3]:
spark

In [5]:
import warnings

# Filter all warnings
warnings.filterwarnings('ignore')

In [6]:
# Read the Dataset
df_pyspark=spark.read.option('header','true').csv("D:\APACHE SPARK\sample1.csv",inferSchema=True)

In [7]:
# Check the Schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [8]:
df_pyspark=spark.read.csv("D:\APACHE SPARK\sample1.csv",header=True,inferSchema=True)
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|Yashwanth| 31|        10| 30000|
|  Akshith| 30|         8| 25000|
|   Naresh| 29|         4| 20000|
|  Praveen| 24|         3| 20000|
|   Shashi| 21|         1| 15000|
|     Teja| 23|         2| 18000|
+---------+---+----------+------+

In [9]:
# Check the Schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [10]:
type(df_pyspark)

pyspark.sql.classic.dataframe.DataFrame

In [11]:
df_pyspark.head(3)

[Row(Name='Yashwanth', age=31, Experience=10, Salary=30000),
 Row(Name='Akshith', age=30, Experience=8, Salary=25000),
 Row(Name='Naresh', age=29, Experience=4, Salary=20000)]

In [12]:
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|Yashwanth| 31|        10| 30000|
|  Akshith| 30|         8| 25000|
|   Naresh| 29|         4| 20000|
|  Praveen| 24|         3| 20000|
|   Shashi| 21|         1| 15000|
|     Teja| 23|         2| 18000|
+---------+---+----------+------+

In [13]:
df_pyspark.select(['Name','Experience']).show()

+---------+----------+
|     Name|Experience|
+---------+----------+
|Yashwanth|        10|
|  Akshith|         8|
|   Naresh|         4|
|  Praveen|         3|
|   Shashi|         1|
|     Teja|         2|
+---------+----------+

In [14]:
df_pyspark['Name']

Column<'Name'>

In [15]:
df_pyspark.dtypes

[('Name', 'string'), ('age', 'int'), ('Experience', 'int'), ('Salary', 'int')]

In [16]:
df_pyspark.describe().show()

+-------+---------+------------------+-----------------+------------------+
|summary|     Name|               age|       Experience|            Salary|
+-------+---------+------------------+-----------------+------------------+
|  count|        6|                 6|                6|                 6|
|   mean|     NULL|26.333333333333332|4.666666666666667|21333.333333333332|
| stddev|     NULL| 4.179314138308661|3.559026084010437| 5354.126134736337|
|    min|  Akshith|                21|                1|             15000|
|    max|Yashwanth|                31|               10|             30000|
+-------+---------+------------------+-----------------+------------------+

In [17]:
# Adding Columns in Dataframe
df_pyspark=df_pyspark.withColumn('Experience After 2 year',df_pyspark['Experience']+2)

In [18]:
df_pyspark.show()

+---------+---+----------+------+-----------------------+
|     Name|age|Experience|Salary|Experience After 2 year|
+---------+---+----------+------+-----------------------+
|Yashwanth| 31|        10| 30000|                     12|
|  Akshith| 30|         8| 25000|                     10|
|   Naresh| 29|         4| 20000|                      6|
|  Praveen| 24|         3| 20000|                      5|
|   Shashi| 21|         1| 15000|                      3|
|     Teja| 23|         2| 18000|                      4|
+---------+---+----------+------+-----------------------+

In [19]:
# Drop the Columns
df_pyspark=df_pyspark.drop('Experience After 2 year')

In [20]:
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|Yashwanth| 31|        10| 30000|
|  Akshith| 30|         8| 25000|
|   Naresh| 29|         4| 20000|
|  Praveen| 24|         3| 20000|
|   Shashi| 21|         1| 15000|
|     Teja| 23|         2| 18000|
+---------+---+----------+------+

In [21]:
# Rename the Columns
df_pyspark.withColumnRenamed('Name','New Name').show()

+---------+---+----------+------+
| New Name|age|Experience|Salary|
+---------+---+----------+------+
|Yashwanth| 31|        10| 30000|
|  Akshith| 30|         8| 25000|
|   Naresh| 29|         4| 20000|
|  Praveen| 24|         3| 20000|
|   Shashi| 21|         1| 15000|
|     Teja| 23|         2| 18000|
+---------+---+----------+------+