# Pyspark Dataframes-

- **Filter Operation**
- **& , | , ==**
- **~**

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Operations').getOrCreate()

In [3]:
spark

In [4]:
import warnings

# Filter all warnings
warnings.filterwarnings('ignore')

In [ ]:
# Read the Dataset
df_pyspark=spark.read.csv("D:\APACHE SPARK\sample1.csv",header=True,inferSchema=True)
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|Yashwanth| 31|        10| 30000|
|  Akshith| 30|         8| 25000|
|   Naresh| 29|         4| 20000|
|  Praveen| 24|         3| 20000|
|   Shashi| 21|         1| 15000|
|     Teja| 23|         2| 18000|
+---------+---+----------+------+

### Filter Operations

In [6]:
# Salary of the people less than or equal to 20000
df_pyspark.filter("Salary<=20000").show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
| Naresh| 29|         4| 20000|
|Praveen| 24|         3| 20000|
| Shashi| 21|         1| 15000|
|   Teja| 23|         2| 18000|
+-------+---+----------+------+

In [7]:
df_pyspark.filter("Salary<=20000").select(['Name','age']).show()

+-------+---+
|   Name|age|
+-------+---+
| Naresh| 29|
|Praveen| 24|
| Shashi| 21|
|   Teja| 23|
+-------+---+

In [8]:
df_pyspark.filter(df_pyspark['Salary']<=20000).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
| Naresh| 29|         4| 20000|
|Praveen| 24|         3| 20000|
| Shashi| 21|         1| 15000|
|   Teja| 23|         2| 18000|
+-------+---+----------+------+

In [9]:
df_pyspark.filter((df_pyspark['Salary']<=20000) | 
                  (df_pyspark['Salary']>=15000)).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|Yashwanth| 31|        10| 30000|
|  Akshith| 30|         8| 25000|
|   Naresh| 29|         4| 20000|
|  Praveen| 24|         3| 20000|
|   Shashi| 21|         1| 15000|
|     Teja| 23|         2| 18000|
+---------+---+----------+------+

In [10]:
df_pyspark.filter(~(df_pyspark['Salary']<=20000)).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|Yashwanth| 31|        10| 30000|
|  Akshith| 30|         8| 25000|
+---------+---+----------+------+