### Pyspark GroupBy And Aggregate Functions

In [1]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('GroupBy-Aggregate').getOrCreate()

In [4]:
spark

In [5]:
import warnings

# Filter all warnings
warnings.filterwarnings('ignore')

In [6]:
df_pyspark=spark.read.csv("D:\APACHE SPARK\sample3.csv",header=True,inferSchema=True)

In [7]:
df_pyspark.show()

+-------+------------+------+
|   Name|  Department|Salary|
+-------+------------+------+
|  Rahul|Data Science| 10000|
|   Abhi|          ML|  5000|
| Mahesh|          AI|  4000|
| Joseph|          AI|  4000|
| Shashi|Data Science|  3000|
|   Teja|         NLP| 20000|
|Akshith|          AI| 10000|
|Karthik|          ML|  5000|
|   Ajay|Data Science| 10000|
|   Ravi|         NLP|  2000|
+-------+------------+------+

In [8]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [9]:
# GroupBy
# Grouped to Find the Maximum Salary
df_pyspark.groupBy('Name').sum().show()

+-------+-----------+
|   Name|sum(Salary)|
+-------+-----------+
|Karthik|       5000|
|   Ravi|       2000|
| Shashi|       3000|
|   Ajay|      10000|
|   Teja|      20000|
|  Rahul|      10000|
| Joseph|       4000|
|Akshith|      10000|
|   Abhi|       5000|
| Mahesh|       4000|
+-------+-----------+

In [10]:
df_pyspark.groupBy('Name').avg().show()

+-------+-----------+
|   Name|avg(Salary)|
+-------+-----------+
|Karthik|     5000.0|
|   Ravi|     2000.0|
| Shashi|     3000.0|
|   Ajay|    10000.0|
|   Teja|    20000.0|
|  Rahul|    10000.0|
| Joseph|     4000.0|
|Akshith|    10000.0|
|   Abhi|     5000.0|
| Mahesh|     4000.0|
+-------+-----------+

In [11]:
# Groupby Department which gives Maximum Salary
df_pyspark.groupBy('Department').sum().show()

+------------+-----------+
|  Department|sum(Salary)|
+------------+-----------+
|         NLP|      22000|
|          AI|      18000|
|          ML|      10000|
|Data Science|      23000|
+------------+-----------+

In [13]:
df_pyspark.groupBy('Department').mean().show()

+------------+-----------------+
|  Department|      avg(Salary)|
+------------+-----------------+
|         NLP|          11000.0|
|          AI|           6000.0|
|          ML|           5000.0|
|Data Science|7666.666666666667|
+------------+-----------------+

In [14]:
df_pyspark.groupBy('Department').count().show()

+------------+-----+
|  Department|count|
+------------+-----+
|         NLP|    2|
|          AI|    3|
|          ML|    2|
|Data Science|    3|
+------------+-----+

In [17]:
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+